################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KS3P_JESUS/v15
/.vs
/_ReSharper.Caches/ReSharperPlatformVs15182_74c703de.KS3P.00
/KS3Code/obj/Release
/_ReSharper.Caches/ReSharperPlatformVs15183_74c703de.KS3P.00
/_ReSharper.Caches/ReSharperPlatformVs16193_4011600b.00/BuildScriptCache
/_ReSharper.Caches/ReSharperPlatformVs16193_4011600b.00
/KS3Code/obj/Debug
/_ReSharper.Caches/ReSharperPlatformVs16193_4011600b.KS3P.00
